body {
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 14px;
}

h1 {
    text-align: center;
    font-size: 24px;
}

hr { 
    margin: 5px; 
}

.nav-tabs li a {
    font-size: 18px; !important
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-left:auto;
    margin-right:auto;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*.tabs-container {
    width: 500px;
}*/

.tab-content {
    /*width: 500px;*/
    height: 400px;
    padding: 5px;
    border: 1px solid #d4d4d1;
    background-color: #fff;
    margin-bottom: 20px;
    overflow-y: auto;
}

ul.tabs {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul.tabs li {
    background: none;
    color: #222;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
}

ul.tabs li.current {
    background: #ededed;
    color: #222;
}

.sub-tab-content {
    display: none;
    border: 0px;
    padding-top: 10px;
    padding-left:0px;
    padding-right:0px;
    margin-top: -10px;
}

.sub-tab-content.current {
    display: inherit;
}

h4.panel-title {
    font-size: 16px; !important
}

h3.panel-title {
    font-size: 16px;
}

.panel-custom {
    padding:2px; !important
    margin: 0px; !important
}